head
  link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

  style.
    body {
      background: #362D4C
    }

    .row > div {
      margin-top: 40px
    }
