head
  link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

  style.
    body {
      background: #362D4C
    }

    .row > div {
      margin-top: 40px
    }

    .form-control::-webkit-input-placeholder { color: #ccc; }
    .form-control::-moz-placeholder          { color: #ccc; }
    .form-control:-ms-input-placeholder      { color: #ccc; }
    .form-control::input-placeholder         { color: #ccc; }
