script(src='/primus/primus.js')

h1 Hi!

script.
  var primus = Primus.connect(window.location.origin, {  });

  primus.substream('/howls').on('data', console.log.bind(console, '/tweets'));
  primus.substream('/wolves/philip/howls').on('data', console.log.bind(console, '/wolves/philip/howls'));
  primus.substream('/wolves/philip/mentions').on('data', console.log.bind(console, '/wolves/philip/mentions'));
