@import 'yeticss'
$purple = #362D4C

body
  margin: 0

pre
  border: 1px #DDD solid

nav.sidebar
  width: 20%
  position: fixed

  img
    width: 75%
    margin: 12.5%
    margin-bottom: 0

  ul
    margin: 0
    padding: 0
    li
      list-style-type: none
      padding: 10px 20px
      margin: 0
      border-bottom: 1px #eee solid

      a.active
        color: $pink



main
  width: 80%
  margin-left: 20%
  float: left

  border-left: 1px #eee solid
  padding: 40px
  min-height: 100vh

li > p
  margin-bottom: 10px

ol, ul
  li > ul, li > ol
    margin-top: 10px

h1, h2, h3
  color: $purple

h2
  font-size: 24px
  margin-top: 80px
  margin-bottom: 20px
  border-bottom: 1px #eee solid
  padding-bottom: 10px

h3
  font-size: 18px
  margin-top: 40px
  margin-bottom: 20px
